html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #617174;
  color: #decfb8;
}

/* hearder Section */
#header {
  height: 500px;
  border: 2px solid white;
  padding: 50px 0;
  text-align: center;
  text-transform: capitalize;
  /* background-image: url(images/coffee-beans-levitate-white-background.jpg); */
  background-image: url(images/coffee-beans-top-view-white-background-space-text.jpg);
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  color: black;
}

#header h1 {
  font-family: "Winky Rough", sans-serif;
  font-size: 3rem;
  margin-top: 107px;
}
#header p {
  font-family: "Roboto Mono", monospace;
  margin: 20px;
}
#header button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #dccfa7;
  color: white;

}

/* Navigation Section */
nav {
  /* border: 2px solid white; */
  /* background-color: #617174; */
  background-color: #1b3c53;
  text-align: center;
  padding: 30px 0px;
  position: sticky;
  top: 0;
  z-index: 10;
}
a {
  font-family: "Winky Rough", sans-serif;
  border: 1px solid white;
  margin: 10px;
  padding: 8px;
  border-radius: 8px;
  /* background-color: #dccfa7; */
  color: #dccfa7;
  text-decoration: none;
  border: none;
}
.me-5 {
  margin-right: 5px;
}

/* font and color of our menu,aboutus,contactus and footer */

#our-menu,
#about-us,
#contact-us {
  width: 90%;
  margin: 10px auto;
}

#our-menu h2,
#about-us h2,
#contact-us h2 {
  font-family: "Roboto Mono", monospace;
  color: black;
  text-transform: capitalize;
}

/* Menu List */
.menu-list {
  /* border: 2px solid white; */
  padding: 20px 0px;
  text-align: center;
}
.menu-list h3 {
  font-family: "Roboto Mono", monospace;
  text-align: left;
  margin-bottom: 20px;
}
.card-container {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.card {
  border: 2px solid #dccfa7;
  width: 250px;
  /* margin: 10px auto; */
  border-radius: 10px;
  overflow: hidden;
}
.card-img-top {
  /* border: 2px solid white; */
  max-width: 100%;
  /* height: 150px; */
  border-radius: 9px 9px 0px 0px;
}
.card-body {
  text-align: center;
  padding: 10px;
}
.card-body .card-title {
  padding: 10px 0;
}
.card-body .card-text {
  font-family: "Roboto Mono", monospace;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
}
.card-body h4 {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.price {
  font-weight: bold;
  font-style: italic;
}
.btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #dccfa7;
  cursor: pointer;
}
.card .card-img-top:hover {
  z-index: 1;
  transform: scale(1.2);
  transition: 1s;
}

/* About us */

#about-us p,
#contact-us p,
#footer p {
  font-family: "Roboto Mono", monospace;
  line-height: 1.5rem;
  padding: 5px 0;
}
.gallery {
  position: relative;
  /* border: 2px solid white; */
  width: 500px;
  height: 350px;
  margin: 0 auto;
}

.gallery img {
  position: absolute;
  width: 250px;
  height: 200px;
  object-fit: cover;
  /* border: 1px solid white; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery img:nth-child(1) {
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotate(-5deg);
}

.gallery img:nth-child(2) {
  top: 10px;
  left: 50px;
  z-index: 2;
  transform: rotate(2deg);
}

.gallery img:nth-child(3) {
  top: 30px;
  left: 100px;
  z-index: 3;
  transform: rotate(5deg);
}
.gallery img:nth-child(4) {
  top: 50px;
  left: 150px;
  z-index: 4;
  transform: rotate(8deg);
}
.gallery img:nth-child(5) {
  top: 90px;
  left: 200px;
  z-index: 5;
  transform: rotate(10deg);
}
.gallery img:nth-child(6) {
  top: 120px;
  left: 250px;
  z-index: 6;
  transform: rotate(15deg);
}

.gallery img:hover {
  z-index: 7;
  transform: scale(1.3) rotate(3deg);
  
}

/* Contact us */
#contact-us {
  /* border: 2px solid red; */
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Roboto Mono", monospace;
  padding: 10px;
}
#contact us h2 {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
form div {
  /* border: 3px solid blue; */
  padding: 10px 0;
}
.form-label {
  display: inline-block;
  /* border: 5px solid white; */
  width: 150px;
  text-align: right;
  margin-right: 10px;
}
.form-control {
  width: 350px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
}
.btn-submit {
  margin-left: 190px;
  width: 150px;
  height: 35px;
  background-color: #dccfa7;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
footer {
  background-color: #1b3c53;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px;
  /* position: sticky; */
  bottom: 0;
}
.me-10 {
  margin-right: 20px;
}
.to-top {
  /* border: 2px solid black; */
  color: #dccfa7;
}

footer a {
  position: fixed;
  right: 20px;
  bottom: 70px;
  /* background-color: #617174; */
  border: none;
  /* color: #dccfa7; */
}
